<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>HW8B — Index</title>
  </head>
  <body>
    <div class="container">
      <h1>HW8B — Express Web Server</h1>
      <p>Select an exercise:</p>
      <ul>
        <li><a href="/ex1">Exercise 1 — Processing a Form</a></li>
        <li><a href="/ex2">Exercise 2 — Visited Countries API</a></li>
        <li><a href="/ex3">Exercise 3 — New Articles</a></li>
      </ul>
    </div>
  </body>
  </html>


